.label {
  font-weight: 100;
  font-weight: 400;
  font-size: 1.13rem;

  @media(max-width: 639.9px) {
    font-size: 1.5rem
  }
}


.label .brand {
  font-weight: 600
}

.footer {
  color: var(--color-button);
  font-weight: 400;
  font-size: .87rem;
  text-align: center;

  @media(max-width: 639.9px) {
    font-weight: 400;
    font-size: 1.13rem
  }

  span {
    cursor: pointer;
    color: var(--color-brand)
  }
}