@import "~@betnomi/libs/assets/styles/_variables";


.container {
  width: 100%;
  scrollbar-width: none;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
  background-color: var(--color-background-1);
  color: var(--color-white);
  padding: var(--height-header) 0 0;


  @media(min-width: 1280px) {
    transition: padding-left var(--transition-time-primary);
    padding-left: var(--width-side-menu-shrink);

    &.right_padding {
      padding-right: calc(min(30vw, 21.25rem));
    }

    &.chat_active {
      padding-right: calc(min(30vw, 21.25rem));
    }

    &.menu_active {
      padding-left: var(--width-side-menu);
    }
  }

  @media(max-width: 639.9px) {
    height: 100%;
    padding-bottom: 5.38rem
  }
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: $header_height;
  z-index: 100;
}

.left {
  position: fixed;
  top: var(--height-header);
  height: calc(100% - var(--height-header));
  width: var(--width-side-menu-shrink);
  z-index: 10;
  transition: width var(--transition-time-primary);
  background: var(--color-menu-bg);
  left: 0;

  @media (min-width: 1280px) {
    &.active {
      width: var(--width-side-menu);
    }
  }

  @media(max-width: 1279.9px) {
    width: 100%;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    transition: -webkit-transform var(--transition-time-primary);
    transition: transform var(--transition-time-primary);
    transition: transform var(--transition-time-primary), -webkit-transform var(--transition-time-primary);
    z-index: 103;
    background-color: var(--color-background-1);

    &.active {
      -webkit-transform: translateY(0);
      transform: translateY(0)
    }
  }
}

.content {
  grid-area: content;
  padding: 3.13rem var(--padding-main-layout) 0;
  margin: 0 auto;
}

.right {

  position: fixed;
  bottom: 0;
  top: var(--height-header);
  height: calc(100% - var(--height-header));
  width: calc(min(30vw, 21.25rem));
  background-color: var(--color-background-1);
  right: 0;
  transition: -webkit-transform var(--transition-time-primary);
  transition: transform var(--transition-time-primary);
  transition: transform var(--transition-time-primary), -webkit-transform var(--transition-time-primary);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  padding: 3.13rem .75rem 0 0;

  @media(min-width: 1280px) {
    &.active {
      -webkit-transform: translate(0);
      transform: translate(0);
    }
  }

  @media(max-width: 1279.9px) {
    z-index: 110;
    width: 100%;
    padding: .59rem;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);

    &.active {
      -webkit-transform: translate(0);
      transform: translate(0);
    }
  }

  @media(max-width: 639.9px) {
    padding: 0;

    font-size: var(--font-size-default);

    &.activeMobile {
      margin-top: calc(var(--height-header)*-1);
      height: 100%
    }
  }
}