@import "~@betnomi/libs/assets/styles/variables";
@import "~@betnomi/libs/assets/styles/mixins";


.providerSelect {
  width: 100%;

  @media(max-width: 639.9px) {
    padding: 0;
    text-align: center;
    grid-gap: 0;

    i:not(.filterIcon) {
      display: none
    }

    .filterIcon {
      font-size: var(--font-size-default);
      color: var(--color-white);

    }
  }

  @media (min-width: 640px) {
    .filterIcon {
      display: none;
    }
  }

  .providerSelectButton {
    text-align: left;

    .providerSelectLabel {
      color: var(--color-button)
    }

    @media(max-width: 639.9px) {
      display: none
    }
  }
}

.providerSelectListbox {

  max-height: 23.13rem;
  padding-top: .1rem;
  padding-right: .25rem;
  scrollbar-width: thin;

  scrollbar-color: var(--color-brand) transparent;

  &::-webkit-scrollbar {
    width: .25rem
  }

  &::-webkit-scrollbar-thumb {
    border: .19rem solid var(--color-brand);
    background-color: var(--color-brand)
  }

  @media(max-width: 639.9px) {
    display: grid;
    grid-row-gap: 1.96rem;
    row-gap: 1.96rem;
    max-height: 18.35rem;
    grid-template-columns: 1fr 1fr;
    padding-top: 1.09rem;
    padding-bottom: 1rem;

    .gamesCount {
      display: none;
    }
  }
}

.providerSelectOption {
  display: grid;
  grid-template-columns: -webkit-min-content auto -webkit-min-content;
  grid-template-columns: min-content auto min-content;
  grid-gap: .5rem;
  align-items: center;
  white-space: nowrap;
  padding: 0 .75rem 0 .63rem;
  height: 2.63rem;

  @media(max-width: 639.9px) {
    height: 1.66rem;
    grid-gap: .83rem
  }

  &:hover {
    background: unset
  }

  span {
    padding: 0 .5rem;
    border-radius: 1.25rem;
    min-width: 3.13rem;
    text-align: center;
    line-height: 1.5rem;
    background: var(--color-background-6)
  }

  .checkIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.25rem;
    height: 1.25rem;
    font-size: .63rem;
    line-height: .63rem;
    border-radius: .25rem;
    background: var(--color-line-2);
    border: .07rem solid #696e87;

    @media(max-width: 639.9px) {
      width: 1.66rem;
      height: 1.66rem;
      border: .1rem solid #696e87
    }

    &:before {
      opacity: 0
    }

    &.checkIconActive {
      background: var(--color-brand-alt);
      color: var(--color-white);

      &:before {
        opacity: 1
      }
    }
  }
}

.popper {
  @media(max-width: 639.9px) {
    width: calc(100vw - var(--padding-main-layout)*2);
    padding: .7rem 0 .7rem 1.04rem
  }
}