@import "~@betnomi/libs/assets/styles/variables";
@import "~@betnomi/libs/assets/styles/mixins";


.wrapper {
  --padding-top: 2.5rem;
  display: grid;
  grid-template-rows: auto -webkit-min-content;
  grid-template-rows: auto min-content;
  transition: all var(--transition-time-primary);
  width: 100%;
  height: calc(100vh - var(--height-header) - var(--height-mobile-menu) - var(--padding-top) - .63rem);

  @media(min-width: 1280px)and (max-aspect-ratio:7/4) {
    height: auto;
    aspect-ratio: 7/4;
  }

  @media(max-width: 1279.9px) {
    .GamePage_wrapper__4i9EV {
      --padding-top: 0.84rem
    }
  }

  &.isGame {
    margin: .31rem auto 0;
    aspect-ratio: auto
  }

  &.ratioWide {
    height: auto;
    aspect-ratio: auto;

    .gameFullScreen {
      aspect-ratio: 16/9;
      height: auto
    }
  }

  .gameFullScreen {
    width: 100%;
    height: 100%
  }
}

.carousel {
  --gap: 1rem;
  margin-top: 3.12rem;


  @media(max-width: 1279.9px) {
    --gap: 0.84rem
  }
}

.casinoSlide {
  min-width: 6.38rem
}