@import "~@betnomi/libs/assets/styles/_variables";
@import "~@betnomi/libs/assets/styles/_mixins";

.wrapper .form {
  display: grid;
  grid-auto-flow: row;
  grid-gap: .75rem;


  @media(max-width: 639.9px) {
    margin-top: 1rem;
    grid-gap: 1rem
  }

  .input {
    color: var(--color-icon);

    @media(max-width: 639.9px) {
      height: 3.66rem;
      border-radius: 3.66rem
    }
  }

  .submit {
    font-weight: 500;
    font-size: 1rem;
    margin-top: .75rem;

    @media(max-width: 639.9px) {
      font-size: 1.33rem;
      height: 3.66rem;
      border-radius: 3.66rem
    }
  }
}


@media(max-width: 639.9px) {
  .textInput {
    font-size: 1.33rem;

    &::-webkit-input-placeholder {
      font-size: 1.33rem
    }

    &::placeholder {
      font-size: 1.33rem
    }
  }

  .fontIcon {
    font-size: 1.33rem
  }
}




.checkbox {
  margin-top: .75rem;

  @media(max-width: 639.9px) {
    margin-top: 1rem;

    i {
      flex-shrink: 0;
      width: 1.66rem;
      height: 1.66rem;
      border-radius: .33rem
    }
  }
}

.checkboxLabel {
  font-size: var(--font-size-small);
  line-height: calc(var(--font-size-small) + .25rem);

  a {
    color: var(--color-brand)
  }

  @media(max-width: 639.9px) {
    font-size: 1.16rem;
    line-height: 1.5rem;
    margin-left: .66rem
  }
}