@import "~@betnomi/libs/assets/styles/mixins";

.label {
  color: var(--color-icon);
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: .87rem;

  @media(max-width:639.9px) {
    font-weight: 500;
    font-size: 1.13rem;
    width: 100%
  }
}


.personalData {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
  margin-bottom: 1.5rem;

  @media(max-width:639.9px) {
    grid-template-columns: 1fr
  }
}


.radioGroup {
  display: flex;
  flex-direction: row;
  color: #fe895a
}

.country {
  max-height: 20.38rem;
  overflow-y: scroll;
  scroll-snap-type: mandatory;
  scrollbar-width: thin;
  scrollbar-color: var(--color-brand) transparent;

  &::-webkit-scrollbar {
    width: .25rem
  }

  &::-webkit-scrollbar-thumb {
    border: .19rem solid var(--color-background-4);
    background-color: var(--color-brand)
  }
}

.address {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem 1.5rem;
  margin-bottom: 1.75rem;

  >div {
    width: 100%;

    &:first-child {
      margin-right: 1.5rem
    }
  }

  @media(max-width:639.9px) {
    grid-template-columns: 1fr
  }

}

.selectOptionTitle {
  color: var(--color-white);
  overflow: hidden;
  font-size: var(--font-size-default);
  text-overflow: ellipsis;
  white-space: nowrap
}

.button {
  width: 100%;
  margin-top: 1.38rem
}

.gender {
  font-weight: 500;
  font-size: 1rem;

  @media(max-width:639.9px) {
    font-weight: 500;
    font-size: 1.25rem
  }

}


.checkbox {
  margin-top: .75rem
}

.checkboxLabel {
  font-weight: 500;
  font-size: .87rem;


  @media(max-width:639.9px) {
    font-size: 1.16rem
  }

  a {
    color: var(--color-brand)
  }
}