@import "~@betnomi/libs/assets/styles/mixins";



.label {
  margin-bottom: .75rem;
  line-height: 1.5rem;
  font-weight: 500
}

.label,
.balance {
  font-size: var(--font-size-small);
  color: var(--color-icon)
}

.balance {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: .75rem 0 2rem;
  line-height: 1.13rem
}

.balance .balanceValue {
  color: var(--color-white)
}

.wrapper {
  display: grid;
  grid-template-columns: 25rem 1fr;
  grid-gap: 1.75rem
}

.wrapper.tablet {
  grid-template-columns: auto;
  flex-direction: column
}

@media(max-width:1279.9px) {
  .wrapper {
    grid-template-columns: 2fr 3fr
  }
}

@media(max-width:639.9px) {
  .wrapper {
    grid-template-columns: 1fr
  }
}

.notice {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
  font-size: var(--font-size-default);
  line-height: 1.5;


  @media(max-width:639.9px) {
    font-size: 1.33rem
  }

  i {
    color: var(--color-icon);
    margin-right: .75rem
  }

}

.noticeItem {
  font-size: var(--font-size-small);
  line-height: 1.13rem;
  color: var(--color-icon);

  @media(max-width:639.9px) {
    .noticeItem {
      font-size: 1.13rem
    }
  }
}



.left .noticeItem {
  margin-top: .5rem
}

.noticeLink {
  color: var(--color-brand);
  display: inline-block
}

.right {
  background: var(--color-background-3);
  border-radius: 1rem;
  padding: 1.5rem;
  justify-self: end;
  max-width: 37rem;


  @media(max-width:1279.9px) {
    width: auto
  }

  @media(max-width:639.9px) {
    padding: 1.33rem
  }

}

.networks {
  margin-bottom: 1.5rem
}

.network {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-small);
  line-height: 1.13rem;
  color: var(--color-icon);
  margin-bottom: 1rem;

  @media(max-width:1279.9px) {
    flex-direction: column;
    align-items: flex-start
  }

  @media(max-width:639.9px) {
    height: 3rem
  }
}

.qrcontainer {
  display: grid;
  grid-template-columns: auto -webkit-min-content;
  grid-template-columns: auto min-content;
  grid-gap: 1.63rem;
  padding: 1rem 0;
  border-top: .06rem solid var(--color-line-1);
  border-bottom: .06rem solid var(--color-line-1);
  margin-bottom: 1rem;

  @media(max-width:639.9px) {
    grid-template-columns: auto
  }
}


.address {
  font-size: 1.13rem
}

.addressLabel {
  color: var(--color-icon);
  margin-bottom: .75rem
}

.tag {
  margin-top: 1.25rem;
  width: 10.5rem;

  @media(max-width:639.9px) {
    width: auto
  }
}


.qr {
  padding: 1.31rem;
  width: 11.38rem
}

@media(max-width:639.9px) {
  .qr {
    width: 15.56rem;
    justify-self: center
  }
}

.qr svg {
  width: 100%;
  height: 100%
}

.note {
  display: grid;
  grid-template-columns: auto 11.38rem;
  grid-gap: 1.63rem;


  @media(max-width:639.9px) {
    grid-template-columns: auto -webkit-min-content;
    grid-template-columns: auto min-content;
    grid-gap: 1rem;

    .noticeItem {
      font-size: 1rem
    }
  }
}

.infoTooltip {
  margin-left: .5rem
}

.coin {
  justify-self: flex-end
}

.white {
  color: var(--color-white)
}