.games {}

.list {}

.banners {}

.categories {}

.gameProvider {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: auto -webkit-min-content;
  grid-template-columns: auto min-content;
  align-items: center;
}

.tag {

@media(max-width: 639.9px) {
  .HomePage_carousel__5mi7G {
      margin-top:3.32rem
  }

  &:nth-child(2),&:nth-child(3),.HomePage_title__MgfId span {
      display: none
  }
}

}