@import "~@betnomi/libs/assets/styles/mixins";


.rootNetwork {
  margin-bottom: .75rem
}

.WithdrawPage_optionNetwork__SgxoI,
.WithdrawPage_valueNetwork__8wx63 {
  color: var(--color-icon)
}

@media(max-width:639.9px) {

  .WithdrawPage_optionNetwork__SgxoI,
  .WithdrawPage_valueNetwork__8wx63 {
    overflow: hidden
  }
}

.WithdrawPage_optionNetwork__SgxoI .WithdrawPage_value__jnCp7,
.WithdrawPage_valueNetwork__8wx63 .WithdrawPage_value__jnCp7 {
  color: var(--color-white)
}

@media(max-width:639.9px) {

  .WithdrawPage_optionNetwork__SgxoI .WithdrawPage_value__jnCp7,
  .WithdrawPage_valueNetwork__8wx63 .WithdrawPage_value__jnCp7 {
    font-size: 1.33rem;
    overflow: hidden
  }
}


.form {
  width: 100%;
  max-width: 25rem;

  @media(max-width:639.9px) {
    max-width: 100%
  }

  .input {
    &::placeholder {
      font-size: var(--font-size-small)
    }
  }
}

.label {
  display: grid;
  grid-auto-flow: column;
  white-space: nowrap;
  margin-bottom: .75rem;
  font-size: var(--font-size-small);
  line-height: 1.5rem;
  font-weight: 500;
  color: var(--color-icon);

  &>:last-child {
    color: var(--color-white);
    font-weight: 400;
    text-align: right
  }

  &~& {
    margin-top: 1.5rem
  }
}

.right {
  flex: 1;
  text-align: right;
  font-weight: var(--weight-400);

  @media (max-width: 768px) {
    display: flex;

    span {
      margin-right: 4px;
    }
  }
}

.white {
  color: var(--color-white);
}


.footer {
  margin-top: 1.5rem;
  padding-top: 1rem;
  border-top: .06rem solid var(--color-line-1);
  text-align: center
}


.total {
  margin-top: 1.5rem;
  color: var(--color-white);
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 600
}

.fee {
  margin-bottom: 1.5rem;
  color: var(--color-white);
  font-weight: 400;

  i {
    color: var(--color-icon);
    margin-left: .38rem
  }
}

.destTag {
  margin-top: 1.25rem
}

