.wrap {
  border-radius: 1rem;
  background: var(--color-background-2);
}

.tabs {
  background: var(--color-tabbed-content-tabs);

  height: 3.25rem;
  border-radius: 1rem 1rem 0 0;

  @media (max-width: 639.9px) {
    height: 4.3rem;
    border-radius: 1.33rem 1.33rem 0 0;
  }
}

.content {
  position: relative;
  padding: 1.88rem;
  font-weight: 500;
  z-index: 1;
  min-height: calc(100vh - var(--height-header) - 14.5rem);

  @media (max-width: 1279.9px) {
    padding: 2.68rem 1.68rem;
    min-width: 0;
  }
}