@import "~@betnomi/libs/assets/styles/_mixins";

.header {
  @include flexbox(center, stretch);
  width: 100%;
  height: var(--height-header);
  z-index: 104;
  background-color: var(--color-background-2);
  position: relative;

  @media(max-width: 1279px) {
    @include flexbox(center, space-between);
    gap: 2%
  }

  @media(max-width: 639px) {
    padding: var(--padding-main-layout);

    & .logo a {
      width: auto;
      padding: 0;
    }
  }
}

@media(min-width: 1280px) {
  .headerShort {
    .logo {
      margin-right: 3.13rem;

      a {
        width: var(--width-side-menu-shrink);
      }
    }

    .menu_toggle {
      transform: translate(1.7rem, -1.25rem);

      i {
        transform: translateX(0.13rem) scaleX(-1);
      }
    }

    .logoText {
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      width: 0;
      opacity: 0;
    }
  }
}


.logo {
  position: relative;
  display: flex;
  height: 100%;
  margin-right: 28px;
  transition: margin-right var(--transition-time-primary);

  a {
    @include flexbox(center, flex-start);
    padding-left: 1.7rem;
    background: var(--color-background-3);
    width: var(--width-side-menu);
    height: 100%;
    transition: width var(--transition-time-primary);

    @media (max-width: 1279.9px) {
      background: 0 0;
      padding-right: 0;
    }
  }

  @media (max-width: 639px) {
    margin: 0;
  }

}

.logoIcon {
  width: 1.875rem;
  height: 1.875rem;

  @media(max-width: 1279.9px) {
    width: 2.513rem;
    height: 2.513rem
  }
}

.logoText {
  -webkit-transform-origin: 2.19rem 50%;
  transform-origin: 2.19rem 50%;
  transition: opacity var(--transition-time-primary), width var(--transition-time-primary), -webkit-transform var(--transition-time-primary);
  transition: transform var(--transition-time-primary), opacity var(--transition-time-primary), width var(--transition-time-primary);
  transition: transform var(--transition-time-primary), opacity var(--transition-time-primary), width var(--transition-time-primary), -webkit-transform var(--transition-time-primary);
  width: 6.6875rem;
  height: 1.875rem;

  @media(max-width: 1279.9px) {
    width: 8.961rem;
    height: 2.513rem
  }

  @media(max-width: 639.9px) {
    margin-left: -.24rem
  }
}

.logoAuthorized {
  @media(max-width: 639.9px) {
    .logoIcon {
      width: 2.8rem;
      height: 1.86rem;
    }

    .logoText {
      display: none
    }

    .logoLink {
      transform: scale(1.5);
    }
  }
}

.menu_toggle {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(1.25rem, -1.13rem);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-icon);
  background: var(--color-background-4);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  box-shadow: 0 .25rem .25rem rgba(0, 0, 0, .25);
  cursor: pointer;
  margin-left: -.31rem;
  transition: -webkit-transform var(--transition-time-primary);
  transition: transform var(--transition-time-primary);
  transition: transform var(--transition-time-primary), -webkit-transform var(--transition-time-primary);

  @media(max-width: 1279.9px) {
    display: none
  }

  i {
    transform: translateX(-0.06rem);
    transition: transform var(--transition-time-primary), -webkit-transform var(--transition-time-primary);
  }
}

.links {
  @include flexbox(center, flex-start);
  flex-wrap: wrap;
  font-weight: 600;
  font-size: 1rem;
  line-height: calc(var(--font-size-default) + .13rem);
  height: calc(var(--font-size-default) + 1.63rem);
  flex: 1 1;
  overflow: hidden;

  @media(max-width: 1279.9px) {
    display: none
  }

}

.link {
  display: flex;
  white-space: nowrap;
  padding: .75rem;
  color: var(--color-header-link);
  transition: color var(--transition-time-primary);

  &:hover,
  &:active {
    color: var(--color-header-link-hover);
  }

  &.active {
    color: var(--color-brand);
  }
}