@import "../../../../../../node_modules/@betnomi/libs/assets/styles/mixins";

.navGrp {
	display: grid;
	grid-gap: .38rem;
	grid-auto-rows: auto;
	list-style: none;
	padding: 0;
	margin: 0;
	font-weight: 400;
	font-size: .87rem;


	@media(max-width: 1279.9px) {
		grid-gap: .88rem
	}
}

.navItem {
	color: var(--color-button);

	@media(max-width: 1279.9px) {
		font-size: 1.17rem
	}
}

.navLabel {
	font-weight: 600;
	color: var(--color-white);

	margin-bottom: .88rem;

	@media(max-width: 1279.9px) {
		font-size: 1.17rem;
		margin-top: .44rem;
		margin-bottom: .22rem
	}
}