.wrapper .desc {
  line-height: 1.13rem;
  display: flex;
  align-items: center;
  color: var(--color-button);
  margin-bottom: 1.5rem;
  font-weight: 500
}

@media(max-width: 639.9px) {
  .wrapper .desc {
    margin-bottom: 1.33rem
  }
}

.wrapper .modal p {
  font-size: .88rem
}

@media(max-width: 639.9px) {
  .wrapper .modal p {
    font-size: 1.17rem;
    line-height: 1.5rem
  }
}

.wrapper .head {
  margin-bottom: 1rem
}

@media(max-width: 639.9px) {
  .wrapper .head {
    margin-bottom: 1.33rem
  }
}