@import "~@betnomi/libs/assets/styles/mixins";

.wrapper {

  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1.5rem;

  @media(max-width: 1279.9px) {
    margin-bottom: 1.68rem
  }

  @media(max-width: 639.9px) {
    margin-bottom: 1.66rem
  }
}

.content {
  font-size: var(--font-size-big);
  line-height: 1.5rem;
  font-weight: 600;
  color: var(--color-white);

  @media(max-width: 1279.9px) {
    line-height: 2.18rem
  }

  @media(max-width: 639.9px) {
    line-height: 2.16rem;
    font-size: var(--font-size-big)
  }
}

.close {
  position: absolute;
  right: 0;
  margin-right: -.5rem
}
